.page-order {
    &__list {
        padding: 15px;
        .item {
            background: $white;
            display: block;
            box-shadow: $shadow-menu;
            margin-bottom: 15px;
            .item-header {
                @include flexbox();
                @include justify-content(space-between);
                @include align-items(center);
                border-bottom: 1px solid #e8e8e8;
                padding: 15px 10px;
                i {
                    font-size: 20px;
                    color: $color-app;
                }
                .text {
                    @include flexbox();
                    @include align-items(center);
                }
                .date {
                    color: $black;
                    font-size: 13px;
                    font-weight: 500;
                    position: relative;
                    padding-right: 20px;
                    &:after {
                        content: "";
                        position: absolute;
                        width: 1px;
                        height: 100%;
                        background: rgba(0, 0, 0, .12);
                        right: 10px;
                        top: 0px;
                    }
                }
                .status {
                    font-size: 13px;
                    color: $color-warning;
                    font-weight: 700;
                    &.success {
                        color: $color-success;
                    }
                }
            }
            .item-body {
                @include flexbox();
                padding: 10px;
                .image {
                    width: 120px;
                }
                .content {
                    width: calc(100% - 120px);
                    padding-left: 15px;
                    box-sizing: border-box;
                    .content-item {
                        color: $black;
                        line-height: 24px;
                        span {
                            font-weight: 700;
                            padding-left: 5px;
                            b {
                                font-size: 12px;
                                padding-left: 2px;
                            }
                        }
                    }
                }
            }
            .item-footer {
                display: flex;
                align-items: center;
                padding: 10px 15px 10px;
                color: $black;
                span:last-child {
                    color: $color-price-app;
                    font-weight: 700;
                    font-size: 16px;
                    padding-left: 8px;
                    b {
                        font-size: 12px;
                        padding-left: 2px;
                    }
                }
            }
        }
    }
}